<h1>Stumptown Scavenge</h1>

<p>Start your quest to fill the Stumptown Scavenger's Guide and become a Tripster. On your journey you'll visit your favorite pubs, all while discovering new ones.</p>

<%= link_to "Locations", locations_url %>
