<%= form_for @location, :html => { :multipart => true } do |f| %>
  <div class='form-group'>
    <%= f.text_field :name, :placeholder => 'name', autofocus: true  %>
  </div>
  <div class="form-group">
    <%= f.text_field :address, :placeholder => 'address' %>
  </div>
    <%= f.submit(:class => "btn btn-primary") %>
<% end %>
