<h1>Hunting Spots</h1>

<% @locations.each do |location| %>
  <p><%= link_to location.name, location %></p>
<% end %>

<% if can? :create, @location %>
  <%= link_to "Add a Location", new_resource_url %>
<% end %>
